@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: black;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.nav img {
  width: 80px;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
ul a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}
ul a:hover {
  color: rgb(196, 139, 249);
}
.social-logo {
  display: flex;
  gap: 20px;
}
.social-logo a {
  text-decoration: none;
  color: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px;
  background-image: url(../img/25335.jpg);
  background-repeat: no-repeat;
  background-size: 58%;
  background-position-y: 60px;
  background-position-x: 600px;
  font-size: 20px;
  margin-top: 60px;
}
.header img {
  width: 600px;
}
.about-of-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.about-of-me a {
  text-decoration: none;
  border: 2px black solid;
  padding: 10px;
  border-radius: 10px;
  color: black;
}
.about-of-me a:hover {
  background-color: black;
  color: white;
}
.img-of-header {
  background-color: rgba(0, 0, 0, 0.161);
  padding: 30px;
  position: absolute;
  width: 600px;
  height: 470px;
  right: 65px;
  bottom: 10px;
  z-index: -1;
}
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hobbies img {
  width: 100%;
  height: 50px;
}
.hobbies-list {
  margin-top: 20px;
}
.hobbies-list {
  gap: 150px;
}
.hobbies-list li {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  gap: 10px;
  display: flex;
  width: 210px;
  height: 45px;
  align-items: center;
  padding: 10px;
  transition: 300ms;
  cursor: pointer;
}
.hobbies-list div {
  border-right: 1px rgb(78, 70, 70) solid;
  padding: 9px;
}
.hobbies-list li:hover {
  transform: scale(1.1);
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.493),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.facts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  font-size: 20px;
}
.facts img {
  width: 100%;
  height: 50px;
}
.row-facts {
  display: flex;
  margin-right: 200px;
  gap: 100px;
  font-size: 25px;
  margin-top: 30px;
}
.row-facts ul {
  display: flex;
  flex-direction: column;
  list-style: disc;
  gap: 63px;
}
.project {
  text-align: center;
  width: 320px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  font-size: 25px;
  background-color: rgb(39, 26, 26);
  transition: 400ms;
  color: white;
}
.projects-row {
  display: flex;
  gap: 40px;
}
.project img {
  width: 100%;
  height: 200px;
}
.project:hover {
  transform: scale(1.1);
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.493),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects-row a {
  text-decoration: none;
}
.projects h3 {
  align-self: flex-start;
  margin-left: 160px;
  margin-top: 30px;
}
.skills-row {
  display: flex;
  gap: 100px;
}
.shkala {
  width: 450px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.525);
  border-radius: 40px;
  margin-top: 10px;
}
.shkala div {
  width: 400px;
  height: 30px;
  border-radius: 40px;
  background-color: black;
}
.technology {
  border: 1px black solid;
  padding: 5px;
  border-radius: 5px;
}
.skills-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacts-row {
  display: flex;
  gap: 50px;
}
.contacts-row a {
  color: white;
}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.footer {
  background-color: black;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .nav {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
  }
  .nav ul {
    width: 340px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: column-reverse;
  }
  .hobbies-lists {
    display: flex;
    gap: 10px;
  }
  .hobbies-list li {
    width: 300px;
    padding: 30px;
  }
  .hobbies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    gap: 10px;
    position: relative;
  }
  .hobbies-lists ul:first-child li:last-child {
    position: absolute;
    top: 210px;
    left: 0px;
    width: 613px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hobbies li:hover {
    transform: scale(1);
  }
  .facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row-facts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 20px;
  }
  .row-facts ul {
    gap: 10px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skills img {
    display: none;
  }
  .skills-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .contacts-row {
    display: flex;
    flex-direction: column;
  }
  .contact-card {
    width: 450px;
  }
}

@media (max-width: 380px) {
  * {
    font-size: 15px;
  }
  .nav {
    flex-direction: column;
    gap: 5px;
  }
  .nav img {
    display: none;
  }
  .nav ul {
    width: 300px;
    align-items: center;
  }
  .about-of-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header p {
    width: 360px;
  }
  .header img {
    width: 360px;
  }
  .hobbies-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hobbies-lists ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .hobbies-list li {
    width: 360px;
  }
  .hobbies-lists ul:first-child li:last-child {
    position: absolute;
    top: 420px;
    left: 0px;
    width: 360px;
    display: flex;
    justify-content: flex-start;
  }
  .row-facts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    gap: 10px;
    flex-direction: column;
  }
  .row-facts img {
    width: 360px !important;
    height: 290px !important;
  }
  .facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row-facts ul {
    gap: 10px;
  }
  .projects-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills img {
    display: none;
  }

  .project {
    width: 360px;
  }
  .project:hover {
    transform: scale(1);
  }
  .project:active {
    transform: scale(0.9);
  }
  .skills-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skill div {
    width: 260px !important;
  }
  .skills-row .shkala {
    width: 330px;
  }

  .contact-card {
    width: 380px;
  }
  .contacts-row {
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
